@model List<DormitoryManagementSystem.Models.Room>

    <h2>Rooms</h2>

    <p>
        <a asp-action="Create" class="btn btn-primary">Add New Room</a>
       
    </p>

    <table class="table table-bordered">
     <thead>

        <tr>
            <th>
                Id
            </th>
            <th>
                Room Number
            </th>
            <th>
                Capacity
            </th>
            <th>
                Actions
            </th>
        </tr>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.RoomNumber
                    </td>
                    <td>
                        @item.Capacity
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
        }
    </tbody>
</table>